.autocomplete {
    position: relative;
    width: 130px;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    height: 120px;
    overflow: auto;
    width: auto;
    position: absolute;
    z-index: 999;
    background-color: #eeeeee;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;


}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    background-color: #4aae9b;
    color: white;
}

.nav-tabs .nav-item{
    margin-bottom: -2px!important;
}

.main-container{
    max-width: 1600px!important;
}

.type-select{
    background: transparent;
    border: none;
}
.create-btn{
    width: 400px;
    height: 120px;
}

#login-form{
    border: 1px solid #3f9ae5;
    border-radius: 20px;
}

.addOfferTab .nav-link{
    height: 100%;
}

.offerTabContentName{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
}

.upper-tabs .nav-link.active{
    background-color: #ffffff;
}

.type-tab.tab-content .nav.nav-tabs .nav-item .nav-link.active{
    background-color: #ffffff;
}

.copyBtn{
    background-color: dodgerblue;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
}

.copyBtn:hover{
    opacity: 1;
}

.copyBtn:active{
    background-color: palegreen;
}

#url-input{
    background: transparent;
}
i.fa-times:hover{
    cursor: pointer;
}

.table th, .table td{
    padding: 0.5rem;
    vertical-align: middle;
    /*text-align: center;*/
}

.table thead th{
    vertical-align: middle;
}

*, *::after, *::before {
    /*-webkit-user-select: none;*/
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-o-user-select: none;*/
    /*user-select: none;*/
    /*-khtml-user-drag: none;*/
    /*-moz-user-drag: none;*/
    /*-o-user-drag: none;*/
    /*user-drag: none;*/
    /*cursor: default;*/
}